black==20.8b1  # Both in dev_requirements.txt and test_requirements.txt
#black
coverage
flake8
#jupyterlab
nose
recommonmark
setuptools
sphinx==4.3.1
#sphinx-markdown
sphinx_rtd_theme
requests
requests-cache
cachecontrol
myst-parser
docutils==0.17