black==24.3.0  # Both in dev_requirements.txt and test_requirements.txt
coverage
flake8
jupyterlab
nose
recommonmark
setuptools
sphinx
sphinx-markdown
sphinx_rtd_theme
requests
requests-cache
cachecontrol
m2r
